<h2>Sign up User</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field" style="display: none;">
    <%= f.text_field :fecha_ini, value: Date.today %>
    <%= f.text_field :status, value: "activo" %>
  </div>

  <div class="field"> 
    <%= f.collection_select :predio_id, Predio.all.order(:id), :id, :name, {:prompt => 'Selecciona el predio'}, {required: true}%>
  </div>

  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
