<div id="<%= dom_id predio %>">

  <p>
    <strong>Nombre:</strong>
    <%= predio.name %>
  </p>  

  <p>
    <strong>Tipo:</strong>
    <%= predio.tipo %>
  </p>

  <p>
    <strong>Ubicacion:</strong>
    <%= predio.ubicacion %>
  </p>

  <p>
    <strong>Tipo no:</strong>
    <%= predio.tipo_no %>
  </p>

  <p>
    <strong>Ubicacion no:</strong>
    <%= predio.ubicacion_no %>
  </p>

</div>
